In [1]:
print ("This can print strings")
print(4)

This can print strings
4

In [2]:
x = 16
y = "Name"

print (y, x)

Name 16

In [3]:
print(f"{y} is {x} years old")

Name is 16 years old

In [4]:
print(f"{y} is {x} years old" .format(y,x))

Name is 16 years old

In [9]:
print(y + " is " + str(x) + " years old")

Name is 16 years old

In [12]:
print( "%s is %d years old." %(y,x))

Name is 16 years old.

In [17]:
x = 10
y = 50

a = x + y
b = x - y
c = x * y
d = x % y
e = x / y

print(a, b, c, d)
print(f"Addition = {a},Subraction = {b}, Multiplication = {c},Remainder = {d}, Division = {e}")

60 -40 500 10
Addition = 60,Subraction = -40, Multiplication = 500,Remainder = 10, Division = 0.2

In [20]:
single_quoted_string = "Python is Awesome"
print("Single Quoted String:" , single_quoted_string)

Single Quoted String: Python is Awesome

In [23]:
double_quoted_string = "Im Learning Python"
print("Double Quoted String:" , double_quoted_string)

Double Quoted String: Im Learning Python

In [25]:
concatenated_string = single_quoted_string + " " + double_quoted_string
print("Concatinated String is:" , concatenated_string)

Concatinated String is: Python is Awesome Im Learning Python

In [27]:
uppercase_string = concatenated_string.upper()
lowercase_string = concatenated_string.lower()

print(uppercase_string, lowercase_string)

PYTHON IS AWESOME IM LEARNING PYTHON python is awesome im learning python

In [2]:
word = "University of Sunderland"
slice_word = word[4: 10]
print("Sliced words are" , slice_word)

Sliced words are ersity

In [7]:
word_space = "    Pokhara University"
print(word_space)

remove_space = word_space.strip()
print(remove_space)

    Pokhara University
Pokhara University

In [10]:
word_list = ["Kali", "Linux", "is", "used", "for", "Hacking"]
print(word_list)

sentence = " ".join(word_list)
print(sentence)

['Kali', 'Linux', 'is', 'used', 'for', 'Hacking']
Kali Linux is used for Hacking

In [12]:
world_list = "Hello, World"
replace_string = world_list.replace("Hello", "Cyber Security")
print(replace_string)

Cyber Security, World

In [13]:
word = "Python is Awesome!! I'm learning python crash course"
index = word.find("course")

print("Index of 'course':" , index)

Index of 'course': 46

In [20]:
fav_movie = ["Hami Tin Bhai", "Papi Manchey", "Andi Pusush", "Animal", "Hera Pheri"]
print(fav_movie)

print("Accesing an element:", fav_movie[3])
print(len(fav_movie))

['Hami Tin Bhai', 'Papi Manchey', 'Andi Pusush', 'Animal', 'Hera Pheri']
Accesing an element: Animal
5

In [23]:
list1 = ["Apple", "Banana", "Cherry", "Dragon Fruit"]
list2 = [5, 10, 15, 20, 25]
list3 = [True, False, True, False]
list4 = ["Apple", True, 4]

print(list1)
print(list2)
print(list3)
print(list4)

print(type(list3))

['Apple', 'Banana', 'Cherry', 'Dragon Fruit']
[5, 10, 15, 20, 25]
[True, False, True, False]
['Apple', True, 4]
<class 'list'>

In [28]:
nested_list = ["One Piece", "Lord of the Rings", [9, 10]]
print(nested_list)
print("IMBD Rating LOR:", nested_list[2][1])

['One Piece', 'Lord of the Rings', [9, 10]]
IMBD Rating LOR: 10

In [38]:
student = {
    "Name": "Hamal",
    "Department": "Computer Engineering",
    "Age": 21
}

print(student)
print("Students name is:", student["Name"])

{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21}
Students name is: Hamal
{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21}

In [40]:
student["Year"] = 2022
print(repr(student))

{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21, 'Year': 2022}

In [42]:
if "Year" in student:
    del student["Year"]

print(student)

{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21}

In [45]:
car_list = dict(name="Tesla", company="Tesla", price=100)
print(car_list)

{'name': 'Tesla', 'company': 'Tesla', 'price': 100}