In [6]:
#Creating series from a list
import pandas as pd

data_list = [10, 20, 30, 40,50, 60]
series_from_list = pd.Series(data_list)
print("Series from list is:\n", series_from_list)

Series from list is:
 0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [7]:
#Creating a series from dictionaries
data_list = {
    "Apple": 12,
    "Banana": 10,
    "Cherry": 5
}

series_from_dict = pd.Series(data_list)
print(series_from_dict)

Apple     12
Banana    10
Cherry     5
dtype: int64

In [8]:
#Creating a series from a numpy array
import numpy as np

data_array = ([120, 230, 304, 450, 500])
series_from_array = pd.Series(data_array)

print(series_from_array)

0    120
1    230
2    304
3    450
4    500
dtype: int64

In [16]:
data_list = [5, 10, 15, 20, 25, 30]
series_from_list = pd.Series(data_list)

#Accessing the values using integer as index
print(series_from_list[4])
print(series_from_list[5])

25
30

In [19]:
#Accessing values with label
series_with_labels = pd.Series(data_list, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(series_with_labels['a'])
print(series_with_labels['c'])

5
15

In [20]:
#Getting the values if the series
print(series_from_list.values)
print()
#Getting the index from series
print(series_with_labels.index)

[ 5 10 15 20 25 30]

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [21]:
#Creating a dataFrame
import pandas as pd

data_dict = {
    "A":[1, 2, 3, 4],
    "B":[20, 30, 40, 50],
    "C":[98, 30, 40, 50]
}

df_from_dict = pd.DataFrame(data_dict)
print(df_from_dict)

   A   B   C
0  1  20  98
1  2  30  30
2  3  40  40
3  4  50  50

In [22]:
#Creating a DataFrame from a list of dictionaries
data_list_of_dict = [
    {"A":1 , "B": 2, "C": 3},
    {"A":20, "B":30, "C":40},
    {"A":45, "B":34, "C":70}
]

df_from_list_df_dict = pd.DataFrame(data_dict)
print(df_from_list_df_dict)

   A   B   C
0  1  20  98
1  2  30  30
2  3  40  40
3  4  50  50

In [23]:
#Create a DataFrame from multuiple series
series_A = pd.Series([10, 20, 30, 40])
series_B = pd.Series([50, 60, 70, 80])
series_C = pd.Series([90, 100, 110, 120])

df_from_series = pd.DataFrame({
    "A": series_A,
    "B": series_B,
    "C": series_C
})

print(df_from_series)

    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120

In [4]:
#Create a DataFrame from NumPy array
import numpy as np

data_array = np.array([
    [1, 10, 20],
    [20, 30, 40],
    [50, 50, 70],
    [90, 100, 200]
])

df_data_array = pd.DataFrame(data_array, columns = ["A", "B", "C"])
print(df_data_array)

    A    B    C
0   1   10   20
1  20   30   40
2  50   50   70
3  90  100  200

In [28]:
#Display the structure of the DataFrame
print(df_data_array.shape)
print(df_data_array.columns)
print(df_data_array.index)

(4, 3)
RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=4, step=1)

In [7]:
#Accessing the data using columns names
print(df_data_array["A"])
print()
print(df_data_array[["A", "C"]])

0     1
1    20
2    50
3    90
Name: A, dtype: int32

    A    C
0   1   20
1  20   40
2  50   70
3  90  200

In [10]:
#Accesing the data using row label
print(df_data_array.iloc[0])
print()
print(df_data_array.loc[1])
print()
print(df_data_array.iloc[0:2])
print()
print(df_data_array.loc[0:2])
print()

A     1
B    10
C    20
Name: 0, dtype: int32

A    20
B    30
C    40
Name: 1, dtype: int32

    A   B   C
0   1  10  20
1  20  30  40

    A   B   C
0   1  10  20
1  20  30  40
2  50  50  70

In [12]:
print(df_data_array.dtypes)

A    int32
B    int32
C    int32
dtype: object

In [13]:
#Adding a one column in the given datasets
df_data_array["D"] = [100, 200, 300, 400]
print(df_data_array)

    A    B    C    D
0   1   10   20  100
1  20   30   40  200
2  50   50   70  300
3  90  100  200  400

In [14]:
#Dropping a one colum from DataFrame
df_data_array = df_data_array.drop(columns = ["A"])
print(df_data_array)

     B    C    D
0   10   20  100
1   30   40  200
2   50   70  300
3  100  200  400

In [18]:
#Filtering rows based on a conditions "B">30
filtered_df = df_data_array[df_data_array["B"]>30]
print(filtered_df)

     B    C    D
2   50   70  300
3  100  200  400

In [21]:
data_array = np.array([
    [1, 10, 20],
    [20, 30, 40],
    [50, 50, 70],
    [90, 100, 200]
])

df_data_array = pd.DataFrame(data_array, columns = ["A", "B", "C"])
print(df_data_array)
print()

#Performing vectorized operations on DataFrame
#Series with values in columns "A" multiplied by 2
print(df_data_array["A"]*2)
print()

#DataFrame with columns "A" and "B" incremented by 12
print(df_data_array[["A", "B"]] + 12)

    A    B    C
0   1   10   20
1  20   30   40
2  50   50   70
3  90  100  200

0      2
1     40
2    100
3    180
Name: A, dtype: int32

     A    B
0   13   22
1   32   42
2   62   62
3  102  112

In [22]:
print("Creating a DataFrame with missing data")
df_with_nan = pd.DataFrame({
    "A": [10, 20, None, 40],
    "B":[24,None, 35, 32],
    "C":[None, 21, 18, 25]
})
print(df_with_nan)

Creating a DataFrame with missing data
      A     B     C
0  10.0  24.0   NaN
1  20.0   NaN  21.0
2   NaN  35.0  18.0
3  40.0  32.0  25.0

In [29]:
print("Checking for missing data")
print(df_with_nan.isnull())

print("\nRemoving the missing values:")
print(df_with_nan.dropna())

print("\nFilling the missing values:")
print(df_with_nan.fillna(0))

Checking for missing data
       A      B      C
0  False  False   True
1  False   True  False
2   True  False  False
3  False  False  False

Removing the missing values:
      A     B     C
3  40.0  32.0  25.0

Filling the missing values:
      A     B     C
0  10.0  24.0   0.0
1  20.0   0.0  21.0
2   0.0  35.0  18.0
3  40.0  32.0  25.0

In [37]:
#Creating a DataFrame with missing values (Sales Data)
import pandas as pd

#Creating a DataFrame with missing data
sales_data = {
    "Date": ["2024-01-01","2024-01-02","2024-01-03","2024-01-04"],
    "Product": ["Apple", "Banana", "Apple", "Banana"],
    "Unit_Sold": [10, None, 15, 20],
    "Profit": [2000, 500, None, 800]
}

df_sales = pd.DataFrame(sales_data)
print(df_sales)

         Date Product  Unit_Sold  Profit
0  2024-01-01   Apple       10.0  2000.0
1  2024-01-02  Banana        NaN   500.0
2  2024-01-03   Apple       15.0     NaN
3  2024-01-04  Banana       20.0   800.0

In [39]:
print("\nChecking for missing values")
print(df_sales.isnull())

print("\nSummarizing the missing values")
print(df_sales.isnull().sum())

print("\nFilling the missing values")
print(df_sales.fillna(0))

Checking for missing values
    Date  Product  Unit_Sold  Profit
0  False    False      False   False
1  False    False       True   False
2  False    False      False    True
3  False    False      False   False

Summarizing the missing values
Date         0
Product      0
Unit_Sold    1
Profit       1
dtype: int64

Filling the missing values
         Date Product  Unit_Sold  Profit
0  2024-01-01   Apple       10.0  2000.0
1  2024-01-02  Banana        0.0   500.0
2  2024-01-03   Apple       15.0     0.0
3  2024-01-04  Banana       20.0   800.0

In [44]:
import pandas as pd
import numpy as np

#Loading the datasets
df = pd.read_csv("CSV_for_EDA.csv")

#Display the fisrt few rows of datasets
print("Initial Data:")
df.head()

Initial Data:

,date,inside_sales,outside_sales,inside_covers,outside_covers,reserved_covers,walkin_covers,waitlist_covers,no_show_covers,no_show_parties,apparent_temperature,humidity,precip_intensity_max,precip_max_time,precip_prob,precip_type,pressure,summary,temperature
0,2017-01-02,13159.84,NaN,174,0,106,26,42,17,6,35.58,0.92,0.0242,15:00:00,0.79,rain,1027.98,rain,39.06
1,2017-01-03,12442.11,NaN,181,0,119,31,31,14,4,41.50,0.94,0.0913,17:00:00,0.77,rain,1000.08,rain,43.19
2,2017-01-04,12927.64,NaN,174,0,131,17,26,5,2,36.81,0.40,0.0176,00:00:00,0.00,rain,1002.55,clear-night,42.29
3,2017-01-05,14457.79,NaN,191,0,138,25,28,4,2,27.11,0.48,0.0000,05:01:00,0.00,none,1014.61,cloudy,31.36
4,2017-01-06,15331.97,NaN,200,0,130,16,54,6,3,24.74,0.48,0.0019,12:00:00,0.00,snow,1022.80,partly-cloudy-night,29.42

In [43]:
#Display the last few rows of datasetes
print("\nBottom Data:")
df.tail()

Bottom Data:

,date,inside_sales,outside_sales,inside_covers,outside_covers,reserved_covers,walkin_covers,waitlist_covers,no_show_covers,no_show_parties,apparent_temperature,humidity,precip_intensity_max,precip_max_time,precip_prob,precip_type,pressure,summary,temperature
893,2019-06-26,12605.00,4487.50,179,67,149,0,97,6,2,84.43,0.43,0.0005,00:00:00,0.00,rain,1015.74,partly-cloudy-day,84.43
894,2019-06-27,13675.62,5443.00,170,80,143,0,107,5,2,86.09,0.34,0.0001,02:00:00,0.00,none,1019.05,partly-cloudy-day,86.09
895,2019-06-28,14171.25,6180.50,177,74,145,0,106,12,4,83.09,0.43,0.0000,05:01:00,0.00,none,1019.41,partly-cloudy-day,83.09
896,2019-06-29,14695.50,5369.75,189,72,135,3,123,10,5,77.17,0.75,0.0571,18:00:00,0.01,rain,1011.84,partly-cloudy-day,76.33
897,2019-06-30,14073.24,6925.50,221,75,156,2,138,4,1,79.33,0.39,0.0033,16:00:00,0.00,rain,1008.91,partly-cloudy-day,79.33

In [46]:
#Print checking for missing values,summarizing and filling them
print(df.isnull().sum())

print(df.fillna("Empty data"))

date                      0
inside_sales              0
outside_sales           475
inside_covers             0
outside_covers            0
reserved_covers           0
walkin_covers             0
waitlist_covers           0
no_show_covers            0
no_show_parties           0
apparent_temperature      0
humidity                  0
precip_intensity_max      0
precip_max_time           0
precip_prob               0
precip_type               0
pressure                  0
summary                   0
temperature               0
dtype: int64
           date  inside_sales outside_sales  inside_covers  outside_covers  \
0    2017-01-02      13159.84    Empty data            174               0
1    2017-01-03      12442.11    Empty data            181               0
2    2017-01-04      12927.64    Empty data            174               0
3    2017-01-05      14457.79    Empty data            191               0
4    2017-01-06      15331.97    Empty data            200               0
..          ...           ...           ...            ...             ...
893  2019-06-26      12605.00        4487.5            179              67
894  2019-06-27      13675.62        5443.0            170              80
895  2019-06-28      14171.25        6180.5            177              74
896  2019-06-29      14695.50       5369.75            189              72
897  2019-06-30      14073.24        6925.5            221              75

     reserved_covers  walkin_covers  waitlist_covers  no_show_covers  \
0                106             26               42              17
1                119             31               31              14
2                131             17               26               5
3                138             25               28               4
4                130             16               54               6
..               ...            ...              ...             ...
893              149              0               97               6
894              143              0              107               5
895              145              0              106              12
896              135              3              123              10
897              156              2              138               4

     no_show_parties  apparent_temperature  humidity  precip_intensity_max  \
0                  6                 35.58      0.92                0.0242
1                  4                 41.50      0.94                0.0913
2                  2                 36.81      0.40                0.0176
3                  2                 27.11      0.48                0.0000
4                  3                 24.74      0.48                0.0019
..               ...                   ...       ...                   ...
893                2                 84.43      0.43                0.0005
894                2                 86.09      0.34                0.0001
895                4                 83.09      0.43                0.0000
896                5                 77.17      0.75                0.0571
897                1                 79.33      0.39                0.0033

    precip_max_time  precip_prob precip_type  pressure              summary  \
0          15:00:00         0.79        rain   1027.98                 rain
1          17:00:00         0.77        rain   1000.08                 rain
2          00:00:00         0.00        rain   1002.55          clear-night
3          05:01:00         0.00        none   1014.61               cloudy
4          12:00:00         0.00        snow   1022.80  partly-cloudy-night
..              ...          ...         ...       ...                  ...
893        00:00:00         0.00        rain   1015.74    partly-cloudy-day
894        02:00:00         0.00        none   1019.05    partly-cloudy-day
895        05:01:00         0.00        none   1019.41    partly-cloudy-day
896        18:00:00         0.01        rain   1011.84    partly-cloudy-day
897        16:00:00         0.00        rain   1008.91    partly-cloudy-day

     temperature
0          39.06
1          43.19
2          42.29
3          31.36
4          29.42
..           ...
893        84.43
894        86.09
895        83.09
896        76.33
897        79.33

[898 rows x 19 columns]

In [47]:
df.head()

,date,inside_sales,outside_sales,inside_covers,outside_covers,reserved_covers,walkin_covers,waitlist_covers,no_show_covers,no_show_parties,apparent_temperature,humidity,precip_intensity_max,precip_max_time,precip_prob,precip_type,pressure,summary,temperature
0,2017-01-02,13159.84,NaN,174,0,106,26,42,17,6,35.58,0.92,0.0242,15:00:00,0.79,rain,1027.98,rain,39.06
1,2017-01-03,12442.11,NaN,181,0,119,31,31,14,4,41.50,0.94,0.0913,17:00:00,0.77,rain,1000.08,rain,43.19
2,2017-01-04,12927.64,NaN,174,0,131,17,26,5,2,36.81,0.40,0.0176,00:00:00,0.00,rain,1002.55,clear-night,42.29
3,2017-01-05,14457.79,NaN,191,0,138,25,28,4,2,27.11,0.48,0.0000,05:01:00,0.00,none,1014.61,cloudy,31.36
4,2017-01-06,15331.97,NaN,200,0,130,16,54,6,3,24.74,0.48,0.0019,12:00:00,0.00,snow,1022.80,partly-cloudy-night,29.42

In [ ]:
#Handle the missing values
#Shape, Index, cloumns, Size, Shape