<h1>Print Statements</h1>

In [1]:
#Write a Python program that prints your name to the console
print("Samman Hamal")

Samman Hamal

In [2]:
#Create a Python script that takes two numbers as input from the user and prints their sum.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("Sum:", sum)

Enter first number:  10
Enter second number:  20

Sum: 30.0

In [3]:
#Modify the script from question 2 to print the result with two decimal places
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("Sum: {:.2f}".format(sum))

Enter first number:  10
Enter second number:  20

Sum: 30.00

In [4]:
#First 10 Fibonacci numbers
a, b = 0, 1
print("Fibonacci Series:")
for _ in range(10):
    print(a)
    a, b = b, a + b

Fibonacci Series:
0
1
1
2
3
5
8
13
21
34

In [5]:
#Multiplication table for a given number:
num = int(input("Enter a number: "))
print("Multiplication Table for", num)
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  10

Multiplication Table for 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [6]:
#Countdown from 10 to 1
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
#Countdown from 10 to 1 with numbers separated by comma and space
countdown = ""
for i in range(10, 0, -1):
    countdown += str(i) + ", "
print(countdown[:-2])  # Removing the last comma and space

10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [11]:
#Print contents of a text file
file_name = input("Enter the name of the file: ")
with open(file_name, 'r') as file:
    contents = file.read()
    print(contents)

Enter the name of the file:  First.ipynb

{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "6ace9378-57ab-4809-84c7-2e517084d4bd",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "This can print strings\n",
      "4\n"
     ]
    }
   ],
   "source": [
    "print (\"This can print strings\")\n",
    "print(4)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "71aaaaf4-ac39-41ae-84ff-a21e6b0198d2",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Name 16\n"
     ]
    }
   ],
   "source": [
    "x = 16\n",
    "y = \"Name\"\n",
    "\n",
    "print (y, x) "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "dd320a2d-842d-4497-86d3-edbde803a15d",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Name is 16 years old\n"
     ]
    }
   ],
   "source": [
    "print(f\"{y} is {x} years old\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "d4c26f87-ebb8-4c02-8826-3e098f0e123f",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Name is 16 years old\n"
     ]
    }
   ],
   "source": [
    "print(f\"{y} is {x} years old\" .format(y,x))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "d88b1e1b-285c-4135-8902-a87d2f66b824",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Name is 16 years old\n"
     ]
    }
   ],
   "source": [
    "print(y + \" is \" + str(x) + \" years old\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "9e8898af-bfe6-4e24-b204-bd8828f2618a",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Name is 16 years old.\n"
     ]
    }
   ],
   "source": [
    "print( \"%s is %d years old.\" %(y,x))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "id": "92a28262-9fb6-4c43-ae76-48274e0f3d0e",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "60 -40 500 10\n",
      "Addition = 60,Subraction = -40, Multiplication = 500,Remainder = 10, Division = 0.2\n"
     ]
    }
   ],
   "source": [
    "x = 10\n",
    "y = 50\n",
    "\n",
    "a = x + y\n",
    "b = x - y\n",
    "c = x * y\n",
    "d = x % y\n",
    "e = x / y\n",
    "\n",
    "print(a, b, c, d)\n",
    "print(f\"Addition = {a},Subraction = {b}, Multiplication = {c},Remainder = {d}, Division = {e}\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "id": "1554c611-c69c-4910-914c-2c364ff6559d",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Single Quoted String: Python is Awesome\n"
     ]
    }
   ],
   "source": [
    "single_quoted_string = \"Python is Awesome\"\n",
    "print(\"Single Quoted String:\" , single_quoted_string)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "id": "f5660302-2755-4fae-bc64-79ee9e322704",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Double Quoted String: Im Learning Python\n"
     ]
    }
   ],
   "source": [
    "double_quoted_string = \"Im Learning Python\"\n",
    "print(\"Double Quoted String:\" , double_quoted_string)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "id": "41eac877-0502-4292-a649-956139cb157f",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Concatinated String is: Python is Awesome Im Learning Python\n"
     ]
    }
   ],
   "source": [
    "concatenated_string = single_quoted_string + \" \" + double_quoted_string\n",
    "print(\"Concatinated String is:\" , concatenated_string)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "id": "ee467d2d-9851-4e1a-8e9e-b1d1da9ba7f8",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "PYTHON IS AWESOME IM LEARNING PYTHON python is awesome im learning python\n"
     ]
    }
   ],
   "source": [
    "uppercase_string = concatenated_string.upper()\n",
    "lowercase_string = concatenated_string.lower()\n",
    "\n",
    "print(uppercase_string, lowercase_string)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "938358c7-458d-4720-b094-6ccfd3a09d09",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Sliced words are ersity\n"
     ]
    }
   ],
   "source": [
    "word = \"University of Sunderland\"\n",
    "slice_word = word[4: 10]\n",
    "print(\"Sliced words are\" , slice_word)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "18597c64-e5f7-482a-888d-3d9520291b53",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "    Pokhara University\n",
      "Pokhara University\n"
     ]
    }
   ],
   "source": [
    "word_space = \"    Pokhara University\"\n",
    "print(word_space)\n",
    "\n",
    "remove_space = word_space.strip()\n",
    "print(remove_space)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "221a02b1-8c19-4fb3-8953-53e9391b58cd",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "['Kali', 'Linux', 'is', 'used', 'for', 'Hacking']\n",
      "Kali Linux is used for Hacking\n"
     ]
    }
   ],
   "source": [
    "word_list = [\"Kali\", \"Linux\", \"is\", \"used\", \"for\", \"Hacking\"]\n",
    "print(word_list)\n",
    "\n",
    "sentence = \" \".join(word_list)\n",
    "print(sentence)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "bc00d14d-2f57-4492-8cef-a75ebdecb59d",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Cyber Security, World\n"
     ]
    }
   ],
   "source": [
    "world_list = \"Hello, World\"\n",
    "replace_string = world_list.replace(\"Hello\", \"Cyber Security\")\n",
    "print(replace_string)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "d6ea6716-57bb-4f0e-93c6-b581eff87ef2",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Index of 'course': 46\n"
     ]
    }
   ],
   "source": [
    "word = \"Python is Awesome!! I'm learning python crash course\"\n",
    "index = word.find(\"course\")\n",
    "\n",
    "print(\"Index of 'course':\" , index)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "id": "a3535117-c924-4e91-bde9-947fe9bf7044",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "['Hami Tin Bhai', 'Papi Manchey', 'Andi Pusush', 'Animal', 'Hera Pheri']\n",
      "Accesing an element: Animal\n",
      "5\n"
     ]
    }
   ],
   "source": [
    "fav_movie = [\"Hami Tin Bhai\", \"Papi Manchey\", \"Andi Pusush\", \"Animal\", \"Hera Pheri\"]\n",
    "print(fav_movie)\n",
    "\n",
    "print(\"Accesing an element:\", fav_movie[3])\n",
    "print(len(fav_movie))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "id": "4ec28322-386e-4f21-9ab7-6aec819924e9",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "['Apple', 'Banana', 'Cherry', 'Dragon Fruit']\n",
      "[5, 10, 15, 20, 25]\n",
      "[True, False, True, False]\n",
      "['Apple', True, 4]\n",
      "<class 'list'>\n"
     ]
    }
   ],
   "source": [
    "list1 = [\"Apple\", \"Banana\", \"Cherry\", \"Dragon Fruit\"]\n",
    "list2 = [5, 10, 15, 20, 25]\n",
    "list3 = [True, False, True, False]\n",
    "list4 = [\"Apple\", True, 4]\n",
    "\n",
    "print(list1)\n",
    "print(list2)\n",
    "print(list3)\n",
    "print(list4)\n",
    "\n",
    "print(type(list3))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "id": "baf7135f-e25e-4c35-b525-2156a3994dfc",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "['One Piece', 'Lord of the Rings', [9, 10]]\n",
      "IMBD Rating LOR: 10\n"
     ]
    }
   ],
   "source": [
    "nested_list = [\"One Piece\", \"Lord of the Rings\", [9, 10]]\n",
    "print(nested_list)\n",
    "print(\"IMBD Rating LOR:\", nested_list[2][1])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "id": "40f0e419-427d-4c79-9069-2cf260ed0ab0",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21}\n",
      "Students name is: Hamal\n",
      "{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21}\n"
     ]
    }
   ],
   "source": [
    "student = {\n",
    "    \"Name\": \"Hamal\",\n",
    "    \"Department\": \"Computer Engineering\",\n",
    "    \"Age\": 21\n",
    "}\n",
    "\n",
    "print(student)\n",
    "print(\"Students name is:\", student[\"Name\"])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "id": "820238da-6c7a-474b-9eec-11840355aa94",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21, 'Year': 2022}\n"
     ]
    }
   ],
   "source": [
    "student[\"Year\"] = 2022\n",
    "print(repr(student))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "id": "400b0c3b-18f3-4c37-94f8-4acff1ee98eb",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "{'Name': 'Hamal', 'Department': 'Computer Engineering', 'Age': 21}\n"
     ]
    }
   ],
   "source": [
    "if \"Year\" in student:\n",
    "    del student[\"Year\"]\n",
    "\n",
    "print(student)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 45,
   "id": "2cceaa47-3deb-4bd6-b373-ef60b8323f52",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "{'name': 'Tesla', 'company': 'Tesla', 'price': 100}\n"
     ]
    }
   ],
   "source": [
    "car_list = dict(name=\"Tesla\", company=\"Tesla\", price=100)\n",
    "print(car_list)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "c510149d-2cef-4a2f-9a95-7930c58955ed",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.11.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [12]:
#Print a pattern of stars like a triangle
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    print("*" * i)

Enter the number of rows:  5

*
**
***
****
*****

In [13]:
#Print current date and time
import datetime
current_datetime = datetime.datetime.now()
print("Current Date and Time:", current_datetime)

Current Date and Time: 2024-05-12 17:27:45.919413

<h1>Data Types</h1>

<h2>Numbers</h2>

In [14]:
#Calculate the area of a circle with a given radius
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)
print("Area of the circle:", area)

Enter the radius of the circle:  7

Area of the circle: 153.93804002589985

In [15]:
#Division of two numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
if num2 != 0:
    result = num1 / num2
    print("Result of division:", result)
else:
    print("Cannot divide by zero.")

Enter first number:  10
Enter second number:  20

Result of division: 0.5

In [16]:
#Factorial of a given number
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial of", num, ":", factorial)

Enter a number:  10

Factorial of 10 : 3628800

In [17]:
#Convert temperature from Celsius to Fahrenheit
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius:  21

Temperature in Fahrenheit: 69.8

In [18]:
#Generate a random number between 1 and 100
import random
random_number = random.randint(1, 100)
print("Random number between 1 and 100:", random_number)

Random number between 1 and 100: 61

<h2>String</h2>

In [19]:
#Reverse a given string
string = input("Reversing a string ")
reversed_string = string[::-1]
print("Reversed string:", reversed_string)

Reversing a string  hello world

Reversed string:  dlrow olleh

In [21]:
#Check if a given string is a palindrome
string = input("Enter a string: ")
if string == string[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string:  racecar

Palindrome

In [22]:
#Count the number of words in a given string
string = input("Enter a string: ")
words = string.split()
print("Number of words:", len(words))

Enter a string:  Hello World

Number of words: 2

In [23]:
#Reverse the words in a sentence
sentence = input("Enter a sentence: ")
words = sentence.split()
reversed_sentence = " ".join(words[::-1])
print("Reversed sentence:", reversed_sentence)

Enter a sentence:  Hello World

Reversed sentence: World Hello

In [24]:
#Convert a string to lowercase
string = input("Enter a string: ")
lowercase_string = string.lower()
print("Lowercase string:", lowercase_string)

Enter a string:  Hello World

Lowercase string: hello world

<h2>Lists</h2>

In [28]:
#Find the largest and smallest elements in a list
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
largest = max(numbers)
smallest = min(numbers)
print("Largest element:", largest)
print("Smallest element:", smallest)

Enter numbers separated by space:  3 9

Largest element: 9
Smallest element: 3

In [42]:
#Sum of all elements in a list
number = [int(x) for x in input("Enter numbers separated by space:").split()]
add_elements = sum(number)
print("The sum of elements are:", add_elements)
#Code doesn't work...

Enter numbers separated by space: 2 3 4 5

TypeError: 'float' object is not callable

In [35]:
#Remove negative numbers from a list
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
positive_numbers = [num for num in numbers if num >= 0]
print("List with negative numbers removed:", positive_numbers)

Enter numbers separated by space:  2 -3 -4 3 4

List with negative numbers removed: [2, 3, 4]

In [36]:
#Sort a list of integers in ascending order
numbers = [int(x) for x in input("Enter numbers separated by space: ").split()]
numbers.sort()
print("Sorted list:", numbers)

Enter numbers separated by space:  123 4 5 7 9 102

Sorted list: [4, 5, 7, 9, 102, 123]

In [37]:
#Check if two lists have at least one common element
list1 = [int(x) for x in input("Enter numbers for first list separated by space: ").split()]
list2 = [int(x) for x in input("Enter numbers for second list separated by space: ").split()]
common_elements = any(elem in list1 for elem in list2)
print("Common elements found:", common_elements)

Enter numbers for first list separated by space:  1 3 5 7 9 0
Enter numbers for second list separated by space:  2 4 6 8 0

Common elements found: True

<h2>Dictionary</h2>

In [38]:
#Print all keys of a dictionary
my_dict = {"key1": 1, "key2": 2, "key3": 3}
print("Keys:", my_dict.keys())

Keys: dict_keys(['key1', 'key2', 'key3'])

In [44]:
#Sum of all values in a dictionary
my_dict = {"key1": 1, "key2": 2, "key3": 3}
addValues = sum(my_dict.values())
print("Sum of values:", addValues)
#...

TypeError: 'float' object is not callable

In [46]:
#Check if a given key exists in a dictionary
my_dict = {"key1": 1, "key2": 2, "key3": 3}
key_to_check = input("Enter key to check: ")
if key_to_check in my_dict:
    print("Key exists")
else:
    print("Key does not exist")

Enter key to check:  key1

Key exists

In [47]:
#Merge two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
#Print dictionary in sorted order based on keys
my_dict = {"b": 2, "a": 1, "d": 4, "c": 3}
sorted_dict = dict(sorted(my_dict.items()))
print("Sorted dictionary:", sorted_dict)

Sorted dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}